@model NETDEMO.Models.Categoria
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Home Page";
}

<div class="fondo">

<div class="text-center">
    <h1 class="display-4"> TMDB </h1>

</div>

<div>
    
    <form asp-action="MostrarPeliculas" asp-controller="Home" method="post">
    
    <fieldset>

    
    <div>  
        <label for="categoriaP">
            ¿Qué categoría de pelicula desea ver?
            <select name="categoriaP" id="categoriaP">
                <option value="Acción">Acción</option>
                <option value="Animación">Animación</option>
                <option value="Terror">Terror</option>
            </select>
        </label>
    </div>

    <div> 
        <button type="submit"> Mostrar </button>
    </div>

    <div>
           <button type="submit"> <a asp-action="Formulario" asp-controller="Home">
                Siguiente </a></button>
            
    </div>


@if (ViewData["mensaje"] != null)
    {
        <p>@ViewData["mensaje"]</p>
    }

<div class="lista-peliculas">
    <ul> 
 @foreach (var pelicula in Model.Peliculas)
            {
                <li>@pelicula.Titulo</li>
            }
    </ul>
</div>

    </fieldset> 

</form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}